---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import SobreMi from '../components/SobreMi.astro';
import Experiencia from '../components/Experiencia.astro';
import Habilidades from '../components/Habilidades.astro';
import Proyectos from '../components/Proyectos.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Juan Carlos Olmedo - Portfolio">
  <Header />
  <main>
    <Hero />
    <SobreMi />
    <Experiencia />
    <Habilidades />
    <Proyectos />
    <Contacto />
  </main>
  <Footer />
</Layout>